.card {
  margin: 20px;
  width: 18rem;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-left: 10px;
  margin: auto;
  background-color: lightsteelblue;
}

.card-title {
  margin-bottom: 15px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 3px;
  text-decoration: none;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
 