.container{
    margin-bottom: 10px;
    display: flexbox;
    justify-content: center;
    

}

.border{
    border: 2px solid gray;
    border-radius: 7px;

    
}

.btnAgregar{
    background-color: grey;
    color: whitesmoke;
    border: 2px solid lightslategray;
    margin: 3px;
}
